html,
header {
    background-color: aquamarine;
}
h1 {
    background-color: grey;
    text-align: center;
    font-size: 45px;
}
h3 {
    size: 1px;
}
.bordered-image {
    border: 2px solid black;
  }
  .resized-image {
       size-adjust: 20px;
  }
p {
    font-size: 45px;
    font-style: italic;
    color: navy;
}
body {
    margin: 0;
    padding: 0;
}
li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: grey;
}

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */