html,
header {
    background-color: aquamarine;
}
h1 {
    background-color: grey;
    text-align: center;
    font-size: 45px;
}
p {
    font-size: 45px;
    font-style: italic;
    color: navy;
}
body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: grey;
}
#hello {
    color: green
}


/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */